* {
  transition: all 0.3s ease-in-out; }

.content-wrapper {
  height: 100%;
  width: 1266px;
  margin-top: 190px; }
  .content-wrapper .title {
    font-family: 'Basis Off White';
    font-size: 30px;
    line-height: 36px; }
  .content-wrapper .description {
    font-family: 'Proxima Nova Light';
    font-size: 19px;
    line-height: 26px;
    padding-top: 30px; }
  .content-wrapper .intro-text {
    width: 544px;
    height: 100%;
    padding-left: 172px;
    display: inline-block; }
    .content-wrapper .intro-text .rubric {
      font-family: 'Basis Off White';
      font-size: 19px;
      line-height: 26px;
      color: #666666;
      padding-bottom: 10px; }
  .content-wrapper .navigation {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    height: 145px;
    margin-left: 150px; }
    .content-wrapper .navigation a {
      font-family: 'Proxima Nova Light';
      font-size: 15px;
      line-height: 17px;
      padding-top: 6px;
      color: black;
      text-decoration: none; }
      .content-wrapper .navigation a:visited {
        color: black;
        text-decoration: none; }
  .content-wrapper #nav-proc {
    top: 588px;
    height: 115px; }
  .content-wrapper #nav-comp {
    top: 443px;
    height: 105px; }
  .content-wrapper .head-pic {
    margin-top: 70px;
    display: block;
    width: 1266px;
    height: 725px;
    background-size: cover; }
  .content-wrapper .head-container {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .content-wrapper .head-container .head-video {
      width: 1091px;
      height: 710px;
      background-size: cover; }
  .content-wrapper #people {
    background-image: url(../img/people/head-pic.png); }
  .content-wrapper #process {
    background-image: url(../img/process/head-video-preview.png); }
  .content-wrapper #competitions {
    background-image: url(../img/competitions/head-pic.png); }
  .content-wrapper .workers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1092px;
    height: 1784px;
    padding-left: 172px;
    margin-top: 100px; }
    .content-wrapper .workers:after {
      content: "";
      width: 425px; }
    .content-wrapper .workers .worker {
      display: block; }
      .content-wrapper .workers .worker .photo {
        height: 254px;
        width: 203px;
        background-size: cover; }
      .content-wrapper .workers .worker .name {
        font-family: 'Basis Regular';
        font-size: 15px;
        line-height: 21px;
        padding-top: 10px; }
      .content-wrapper .workers .worker .occupation {
        font-family: 'Proxima Nova Light';
        font-size: 15px;
        line-height: 21px;
        padding-top: 3px; }
  .content-wrapper #previously {
    height: 1027px; }
  .content-wrapper #previously-txt {
    margin-top: 100px; }

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1091px;
  flex-wrap: wrap;
  padding-left: 172px; }

.cards-container {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%; }
  .cards-container.col-2 {
    padding-top: 371px; }
  .cards-container .title {
    padding-top: 150px; }
  .cards-container .card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 514px;
    margin-top: 40px; }
    .cards-container .card .card-picture {
      background-size: cover;
      width: 514px;
      margin-top: 30px;
      filter: grayscale(100%); }
    .cards-container .card #philosophy-picture {
      height: 810px;
      background-image: url(../img/main/pic-1.png); }
    .cards-container .card #community-picture {
      height: 273px;
      background-image: url(../img/main/pic-9.png); }
    .cards-container .card #environment-picture {
      height: 643px;
      background-image: url(../img/main/pic-11.png); }
    .cards-container .card #harmony-picture {
      height: 306px;
      background-image: url(../img/main/pic-12.png); }
    .cards-container .card #project-picture {
      height: 350px;
      background-image: url(../img/main/pic-2.png); }
    .cards-container .card #sertificate-picture {
      height: 273px;
      background-image: url(../img/main/pic-8.png); }
    .cards-container .card #culture-picture {
      height: 425px;
      background-image: url(../img/main/pic-14.png); }
    .cards-container .card #works-picture {
      height: 773px;
      background-image: url(../img/main/pic-4.png); }

@media only screen and (max-width: 1280px) {
  .content-wrapper {
    width: 1170px; }
    .content-wrapper .intro-text {
      padding-left: 78px; }
    .content-wrapper .head-pic {
      width: 1170px;
      height: 710px; }
    .content-wrapper .head-container .head-video {
      width: 1044px;
      height: 710px;
      padding-left: 47px; }
    .content-wrapper .workers {
      padding-left: 78px; }

  .cards-wrapper {
    width: 1091px;
    padding-left: 74px; } }
@media only screen and (max-width: 1200px) {
  .content-wrapper {
    width: 994px; }
    .content-wrapper .intro-text {
      padding-left: 55px; }
    .content-wrapper .navigation {
      height: 115px;
      margin-left: 100px; }
      .content-wrapper .navigation a {
        font-size: 15px;
        line-height: 17px; }
    .content-wrapper #nav-proc {
      top: 670px; }
    .content-wrapper #nav-comp {
      top: 487px; }
    .content-wrapper .head-pic {
      width: 930px;
      height: 695px; }
    .content-wrapper .head-container .head-video {
      width: 835px;
      height: 613px;
      padding-left: 104px; }
    .content-wrapper .workers {
      width: 875px;
      height: 2142px;
      padding-left: 55px; }
    .content-wrapper #previously {
      height: 1418px; }
    .content-wrapper #resizeable {
      width: 455px; }

  .cards-wrapper {
    width: 836px; }

  .cards-container .card {
    width: 390px; }
    .cards-container .card .card-picture {
      width: 390px; }
    .cards-container .card #philosophy-picture {
      height: 614.59px; }
    .cards-container .card #community-picture {
      height: 207.14px; }
    .cards-container .card #environment-picture {
      height: 487.88px; }
    .cards-container .card #harmony-picture {
      height: 487.88px; }
    .cards-container .card #project-picture {
      height: 265.56px; }
    .cards-container .card #sertificate-picture {
      height: 207.14px; }
    .cards-container .card #culture-picture {
      height: 586.52px; }
    .cards-container .card #works-picture {
      height: 322.47; } }
@media only screen and (max-width: 990px) {
  .content-wrapper {
    width: 714px; }
    .content-wrapper .intro-text {
      padding-left: 78px; }
    .content-wrapper .navigation {
      height: 122px;
      margin-left: 100px; }
      .content-wrapper .navigation a {
        font-size: 15px;
        line-height: 17px; }
    .content-wrapper #nav-proc {
      top: 904px; }
    .content-wrapper #nav-comp {
      top: 644px; }
    .content-wrapper .head-pic {
      width: 714px;
      height: 493px; }
    .content-wrapper .head-container .head-video {
      width: 624px;
      height: 424px;
      padding-left: 104px; }
    .content-wrapper .workers {
      width: 636px;
      height: 1522px;
      padding-left: 78px; }
      .content-wrapper .workers .worker .photo {
        height: 189px;
        width: 151px; }
      .content-wrapper .workers .worker .name {
        font-size: 13px;
        line-height: 13px; }
      .content-wrapper .workers .worker .occupation {
        font-size: 13px;
        line-height: 19px; }
    .content-wrapper .navigation {
      display: none; }
    .content-wrapper #previously {
      height: 1008px; }

  .cards-wrapper {
    width: 564px;
    padding: 0 102px; }

  .cards-container .title {
    padding-top: 100px; }
  .cards-container .card:nth-of-type(2) {
    align-self: flex-end; }
  .cards-container.col-2, .cards-container.col-1 {
    width: 100%;
    padding-top: 0; }
  .cards-container .card {
    margin-top: 0; }
    .cards-container .card#works {
      align-self: flex-end; } }
@media only screen and (max-width: 660px) {
  .content-wrapper {
    width: 295px;
    margin-top: 135px; }
    .content-wrapper .title {
      font-size: 23px;
      line-height: 26px; }
    .content-wrapper .description {
      font-size: 15px;
      line-height: 21px;
      padding-top: 20px; }
    .content-wrapper .intro-text {
      width: 260px;
      padding-left: 47px; }
      .content-wrapper .intro-text .rubric {
        font-size: 15px;
        line-height: 19px;
        padding-bottom: 10px; }
    .content-wrapper .navigation {
      display: none; }
    .content-wrapper .head-pic {
      width: 291px;
      height: 201px;
      margin-top: 40px; }
    .content-wrapper .head-container {
      margin-top: 40px; }
      .content-wrapper .head-container .head-video {
        width: 290px;
        height: 201px;
        margin-left: 18px; }
    .content-wrapper .workers {
      width: 248px;
      height: 2257px;
      margin-top: 50px;
      padding-left: 47px; }
      .content-wrapper .workers .worker .photo {
        width: 114px;
        height: 143px; }
      .content-wrapper .workers .worker .name {
        font-size: 10px;
        line-height: 10px;
        padding-top: 5px; }
      .content-wrapper .workers .worker .occupation {
        font-size: 10px;
        line-height: 13px; }
    .content-wrapper #previously {
      height: 1429px; }
    .content-wrapper #previously-txt {
      padding-left: 47px;
      margin-top: 50px; }
    .content-wrapper #resizeable {
      width: 290px; }

  .cards-wrapper {
    width: 290px;
    padding-left: 18px; }

  .cards-container #community {
    margin-top: 30px; }
  .cards-container #works {
    margin-top: 30px; }
  .cards-container #philosophy,
  .cards-container #project {
    margin-top: 50px; }
  .cards-container #sertificate {
    margin-top: 30px; }
  .cards-container #culture {
    margin-top: 30px;
    right: 0; }
  .cards-container .card {
    width: 290px;
    margin-top: 30px; }
    .cards-container .card .card-picture {
      width: 290px;
      margin-top: 20px; }
    .cards-container .card #philosophy-picture {
      height: 457px; }
    .cards-container .card #community-picture {
      height: 154.03px; }
    .cards-container .card #environment-picture {
      height: 172.65px; }
    .cards-container .card #harmony-picture {
      height: 362.78px; }
    .cards-container .card #project-picture {
      height: 197.47px; }
    .cards-container .card #sertificate-picture {
      height: 433.9px; }
    .cards-container .card #culture-picture {
      height: 153.63px; }
    .cards-container .card #works-picture {
      height: 436.13px; }

  .col-1 {
    position: relative;
    height: auto;
    left: 0; }

  .col-2 {
    position: relative;
    height: auto;
    right: 0;
    margin-top: 0; }

  #col-1-comp {
    height: auto;
    width: 290px; } }

/*# sourceMappingURL=additional.css.map */
