* {
  box-sizing: border-box;
  background-size: cover;
  transition: all ease-in-out .3s;
  user-select: none;
}

a {
  text-decoration: none;
}

.compact {
  display: none !important;
}

@media only screen and (max-width: 660px) {
  .full {
    display: none !important;
  }

  .compact {
    display: block !important;
  }
}
