@import 'vars';

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.additional-info {
  display: inline-flex;
  width: 425px;
  justify-content: space-between;
  margin-left: 60px;
}

.header-logo {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 230px;
  height: 53px;
  margin-left: 50px;
  margin-top: 38px;
  align-items: center;

  .logo-full {
    display: block;
    position: relative;
    width: 132px;
    height: 53px;
    background-image: url(../img/logo_white.svg);
  }

  p {
    display: block;
    position: relative;
    margin-top: -3px;
    font-size: 12px;
    line-height: 14px;
    color: white;
    font-family: 'Basis Medium';
  }
}

.fig {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

.i1 {
  top: 132px;
  width: 29px;
  height: 15px;
  margin-right: 120px;
  background-image: url(../img/fig1.svg);
}

.i2 {
  right: 183px;
  width: 52px;
  height: 47px;
  margin-bottom: 145px;
  background-image: url(../img/fig2.svg);
}

.i3 {
  left: 70px;
  width: 28px;
  height: 36px;
  margin-bottom: 89px;
  background-image: url(../img/fig3.svg);
}

.socialWrapper {
  position: absolute;
  // overflow: visible;
  bottom: 40px;
  left: 0;
  z-index: 2;
  width: 100%;

  .socialContainer {
    display: flex;
    flex-wrap: wrap;
    width: $largeContainerWidth;
    margin: 0 auto;
    font-family: 'Basis Medium';
    font-size: 12px;
    color: white;

    a {
      position: relative;
      padding-left: 16px;
      margin-right: 20px;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: white;
        text-decoration: none;
      }

      &::before {
        position: absolute;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        font-family: FontAwesome;
        font-size: 12px;
        padding-right: 5px;
      }
    }
  }
}

.instagram::before {
  content: '\f16d';
}

.facebook::before {
  content: '\f082';
}

.share::before {
  content: '\f064';
}

.email::before {
  content: '\f003';
}

.social-likes__widget.social-likes__widget_single::before {
  content: '\f064';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 10px;
  padding-right: 5px;
  padding-top: 1px;
  vertical-align: top;
}

.social-likes__button.social-likes__button_single {
  display: inline-block;
  cursor: pointer;
}

.social-likes__single-container {
  display: none;
  position: absolute;
  top: -54px;
  line-height: 1.4;
  padding-left: 16px;
  z-index: 2;

  div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.social-likes_opened {
  .social-likes__single-container {
    display: block;
  }
}



@media (max-width: 1140px) {


      .phrases-centerizer {

        .phrases-wrapper {
          width: 797px;
          left: 53px;
          margin-top: -190px;
        }
      }

      .socialWrapper {

        .socialContainer {
          color: white;
          width: 682px;

          .additional-info {
            margin-left: 0;
            margin-top: 20px;
          }

          a {
            color: white;
            text-decoration: none;
            font-family: 'Basis Medium';
            font-size: 12px;
          }
        }
      }

    }

@media (max-width: 660px) {


  .socialWrapper {

    .socialContainer {
      margin-left: 34px;
      width: 280px;
      line-height: 20px;
      font-size: 10px;
      margin-bottom: 40px;

      .additional-info {
        width: 227px;
        flex-wrap: wrap;

        #pres {
          padding-left: 0;
          top: 20px;
        }
      }

      a {
        font-size: 10px;

        &:visited {
        }
      }
    }
  }



  .header-logo {
    width: 174px;
    height: 46px;
    margin-left: 15px;
    margin-top: 15px;

    .logo-full {
      width: 115px;
      height: 46px;
    }

    p {
      font-size: 7px;
    }
  }

  .soc {
    margin-left: 25px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .i1 {
    width: 20px;
    height: 20px;
    top: 92px;
    margin-right: 101px;
    }

  .i2 {
    width: 42px;
    height: 29px;
    margin-bottom: 155px;
    right: 24px;
  }

  .i3 {
    width: 20px;
    height: 37px;
    margin-bottom: 180px;
    left: 19px;
  }
}
