@import 'vars';

.footer {
  height: 100vh;
  width: 100vw;
  margin-top: -200px;

  .phrases-centerizer {
    position: relative;

    .phrases-wrapper {
      position: relative;
      width: 800px;
      height: 200px;
      margin-top: -80px;
      overflow: hidden;
      z-index: 1;

      .phrases-container {

        .phrase-static {
          position: relative;

          display: flex;

          line-height: 100px;
          font-family: 'Basis Off White';
          font-size: 85px;
          white-space: nowrap;
          color: black;

          .logo-phrase {
            background-image: url(../img/logo_black.svg);
          }
        }
      }
    }
  }


  .logo-full {
    width: 132px;
    height: 53px;
    background-image: url(../img/logo_black.svg);
  }

  p {
    color: black;
    font-family: 'Basis Medium';
  }

  .fig {
    position: absolute;
    filter: invert(1);
  }

  // .i1 {
  //   top: 0;
  //   width: 29px;
  //   height: 15px;
  //   margin-right: 120px;
  // }
  //
  // .i2 {
  //   right: 183px;
  //   width: 52px;
  //   height: 47px;
  //   margin-bottom: 145px;
  // }
  //
  // .i3 {
  //   left: 70px;
  //   width: 28px;
  //   height: 36px;
  //   margin-bottom: 89px;
  // }

  .socialWrapper {

    .socialContainer {
      color: black;
      // margin-left: 153px;

      a {
        color: black;
        text-decoration: none;
        font-family: 'Basis Medium';
        font-size: 12px;

        &:visited {
          color: black;
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .footer {

    .phrases-centerizer {
      position: relative;
      // width: inherit;
      // height: inherit;
      // justify-content: center;

      .phrases-wrapper {
        width: 797px;
        left: 53px;
        margin-top: -190px;
      }
    }

    // .i1 {
    //   margin-right: 60px;
    // }
    //
    // .i2 {
    //   right: 183px;
    //   width: 52px;
    //   height: 47px;
    //   margin-bottom: 145px;
    // }
    //
    // .i3 {
    //   left: 20px;
    //   width: 28px;
    //   height: 36px;
    //   margin-bottom: 69px;
    // }

    .socialWrapper {

      .socialContainer {
        // margin-left: 53px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .footer {

    .phrases-centerizer {

      .phrases-wrapper {
        width: 660px; //827px
        // left: 53px;
        margin-top: -190px;

        .phrases-container {

          .phrase {
            color: black;

            .logo-phrase {
              background-image: url(../img/logo_black.svg);
            }
          }
        }
      }
    }

    .logo-full {
      width: 132px;
      height: 53px;
      background-image: url(../img/logo_black.svg);
    }

    p {
      color: black;
      font-family: 'Basis Medium';
    }

    .fig {
      position: absolute;
      filter: invert(1);
    }

    // .i1 {
    //   margin-right: 30px;
    // }
    //
    // .i2 {
    //   right: 183px;
    //   width: 52px;
    //   height: 47px;
    //   margin-bottom: 145px;
    // }
    //
    // .i3 {
    //   left: 20px;
    //   width: 28px;
    //   height: 36px;
    //   margin-bottom: 89px;
    // }

    .socialWrapper {

      .socialContainer {
        color: black;
        // margin-left: 53px;
        width: 570px;

        .additional-info {
          margin-left: 0;
          margin-top: 20px;
        }

        a {
          color: black;
          text-decoration: none;
          font-family: 'Basis Medium';
          font-size: 12px;

          &:visited {
            color: black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .footer {
    height: 477px;
    width: 100%;
    margin-top: 0;

    .phrases-centerizer {
      position: relative;
      width: inherit;
      height: inherit;
      justify-content: center;

      .phrases-wrapper {
        left: 14px;
        margin-top: 0px;
        width: 280px;

        .phrases-container {

          .phrase-static {
            color: black;
            font-size: 25px;
            line-height: 35px;

            .logo-phrase {
              background-image: url(../img/logo_black.svg);
              width: 71px;
              height: 28px;
              margin-left: 10px;
              top: 40px;
            }
          }
        }
      }
    }

    .logo-full {
      width: 132px;
      height: 53px;
      background-image: url(../img/logo_black.svg);
    }

    p {
      color: black;
      font-size: 10px;
      font-family: 'Basis Medium';
    }

    .fig {
      position: absolute;
      filter: invert(1);
    }

    // .i1 {
    //   top: 0;
    //   width: 29px;
    //   height: 15px;
    //   margin-right: 120px;
    // }
    //
    // .i2 {
    //   right: 183px;
    //   width: 52px;
    //   height: 47px;
    //   margin-bottom: 145px;
    // }
    //
    // .i3 {
    //   left: 20px;
    //   width: 28px;
    //   height: 36px;
    //   margin-bottom: 145px;
    // }

    .socialWrapper {
      bottom: 0;

      .socialContainer {
        color: black;
        width: 265px;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 50px;

        .additional-info {
          width: 224px;
          flex-wrap: wrap;
          margin-top: 10px;

          #pres {
            padding-left: 0;
            top: 10px;
          }
        }

        a {
          font-size: 10px;

          &:visited {
            color: black;
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 990px) {
  #footer-process {
    margin-top: 3890px;
  }

  #footer-comp {
    margin-top: 3727px;
  }
}

@media only screen and (max-width: 660px) {
  #footer-process,
  #footer-comp {
    margin-top: 0;
  }
}
