@font-face {
  font-family: 'Basis Light';
  src: url(../fonts/basis-light.otf) format("opentype");
}

@font-face {
  font-family: 'Basis Medium';
  src: url(../fonts/basis-medium.otf) format("opentype");
}

@font-face {
  font-family: 'FontAwesome';
  src: url(../fonts/fontawesome-webfont.otf) format("webfont");
}

* {
  overflow: hidden;
}

html, body, section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-logo {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 230px;
  height: 53px;
  margin-left: 50px;
  margin-top: 38px;
  align-items: center;

  .logo-full {
    display: block;
    position: relative;

    width: 132px;
    height: 53px;

    background-image: url(../img/logo_white.svg);
    background-size: cover;
  }

  p {
    display: block;
    position: relative;
    font-size: 12px;
    color: white;
    font-family: 'Basis Medium';
  }
}


.phrase {
  display: flex;
  position: relative;
  justify-content: space-between;

  width: 778px;
  height: 110px;

  // padding-top: 40px;
  z-index: 2;

  p {
    font-family: 'Basis Light';
    font-size: 85px;
    color: white;
  }

  .logo-phrase {
    display: block;
    width: 263px;
    height: 104px;
    margin-right: 227px;
    background-image: url(../img/logo_white.svg);
    background-size: cover;
  }
}

.fig {
  display: block;
  position: absolute;

  background-size: cover;

  bottom: 0;
  right: 0;
}

.i1 {
  width: 29px;
  height: 15px;
  background-image: url(../img/fig1.svg);

  top: 62px;
  margin-right: 81px;
}

.i2 {
  width: 52px;
  height: 47px;
  background-image: url(../img/fig2.svg);

  margin-bottom: 145px;
  right: 183px;

}

.i3 {
  width: 28px;
  height: 36px;
  background-image: url(../img/fig3.svg);

  margin-bottom: 89px;
  left: 70px;
}

.soc {
  display: flex;
  position: absolute;
  justify-content: space-between;
  // width: 259px;
  height: 80px;
  align-items: flex-end;

  font-family: 'Basis Medium';
  font-size: 12px;
  color: white;

  left: 0;
  // top: 714px;
  bottom: 0;
  margin-left: 330px;
  margin-bottom: 40px;
  z-index: 2;

  .share-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;

    .social-likes {
      display: none;
      justify-content: space-between;
      flex-direction: column;
      height: 50px;
    }
  }

  a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:visited {
      color: white;
      text-decoration: none;
    }
  }

  ::before {
    display: inline-block;
    text-align: left;
    line-height: 16px;
    font-family: FontAwesome;
    font-size: 12px;
    padding-right: 5px;
  }

  .instagram::before {
    content: '\f16d';
  }

  .facebook::before {
    content: '\f082';
  }

  .share::before {
    content: '\f064';
  }

  .email::before {
    content: '\f003';
  }

  .vkShare::before {
    content: '\f189';
  }

  .facebookShare::before {
    content: '\f082';
  }

  .twitterShare::before {
    content: '\f099';
  }

}



@media (max-width: 1025px) {
  .phrases-wrapper {
    width: 648px !important;

    .phrase {
      p {
        font-size: 65px;
      }

      .logo-phrase {
        width: 210px;
        height: 84px;
        margin-right: 345px !important;
      }
    }
  }




  .phrases-wrapper,
  .soc {
    margin-left: 130px !important;
  }

  .i2 {
    margin-bottom: 155px;
    right: 93px;
  }

  .i3 {
    margin-bottom: 60px;
  }
}

@media only screen and (max-device-width: 1366px) and (orientation:landscape) {

  body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  video {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
  body {
    background-image: url(../img/bg.png);
  }

  video {
    display: none;
  }
}


@media (max-width: 321px) {

  .header-logo {
    width: 174px;
    height: 46px;
    margin-left: 15px;
    margin-top: 15px;

    .logo-full {
      width: 115px;
      height: 46px;
    }

    p {
      font-size: 7px;
    }
  }
  .phrases-wrapper,
  .soc {
    margin-left: 25px !important;
    }


  .phrases-wrapper {
    width: 387px !important;

    .phrase {
      p {
        font-size: 30px;
      }

      .logo-phrase {
        width: 97px;
        height: 39px;
        margin-right: 574px !important;
        }
    }
  }


  .soc {
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .i1 {
    width: 20px;
    height: 10px;
    top: 62px;
    margin-right: 21px;
  }

  .i2 {
    width: 32px;
    height: 29px;
    margin-bottom: 155px;
    right: 24px;
  }

  .i3 {
    width: 20px;
    height: 27px;
    margin-bottom: 79px;
    left: 19px;
  }
}
