@font-face {
  font-family: 'Basis Light';
  src: url(../fonts/basis-light.otf) format("opentype");
}

@font-face {
  font-family: 'Basis Medium';
  src: url(../fonts/basis-medium.otf) format("opentype");
}

@font-face {
  font-family: 'FontAwesome';
  src: url(../fonts/fontawesome-webfont.otf) format("webfont");
}

* {
  overflow: hidden;
}

html, body, section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.logo-full {
  display: block;
  position: absolute;

  width: 132px;
  height: 53px;

  background-image: url(../img/logo_white.svg);
  background-size: cover;
  left: 50px;
  top: 38px;
}

.phrase {
  display: flex;
  position: absolute;
  justify-content: space-between;

  width: 778px;
  height: 107px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 330px;

  // padding-top: 40px;
  z-index: 2;

  p {
    font-family: 'Basis Light';
    font-size: 85px;
    color: white;
  }

  .logo-phrase {
    display: block;
    width: 263px;
    height: 104px;
    margin-right: 227px;
    background-image: url(../img/logo_white.svg);
    background-size: cover;
  }
}

.fig {
  display: block;
  position: absolute;

  background-size: cover;

  bottom: 0;
  right: 0;
}

.i1 {
  width: 29px;
  height: 15px;
  background-image: url(../img/fig1.svg);

  top: 62px;
  margin-right: 81px;
}

.i2 {
  width: 52px;
  height: 47px;
  background-image: url(../img/fig2.svg);

  margin-bottom: 145px;
  right: 183px;

}

.i3 {
  width: 28px;
  height: 36px;
  background-image: url(../img/fig3.svg);

  margin-bottom: 89px;
  left: 70px;
}

.soc {
  display: flex;
  position: absolute;
  justify-content: space-between;
  // width: 259px;
  height: 16px;

  font-family: 'Basis Medium';
  font-size: 12px;
  color: white;

  left: 0;
  // top: 714px;
  bottom: 0;
  margin-left: 330px;
  margin-bottom: 40px;
  z-index: 2;

  a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:visited {
      color: white;
      text-decoration: none;
    }
  }

  ::before {
    display: inline-block;
    text-align: left;
    line-height: 16px;
    font-family: FontAwesome;
    font-size: 12px;
    padding-right: 5px;
  }

  .instagram::before {
    content: '\f16d';
  }

  .facebook::before {
    content: '\f082';
  }

  .share::before {
    content: '\f064';
  }

  .email::before {
    content: '\f003';
  }
}



@media (max-width: 1025px) {
  .phrase {
    width: 648px;

    p {
      font-size: 65px;
    }

    .logo-phrase {
      width: 210px;
      height: 84px;
      margin-right: 208px;
    }
  }

  .phrase,
  .soc {
    margin-left: 130px;
  }

  .i2 {
    margin-bottom: 85px;
    right: 93px;
  }

  .i3 {
    margin-bottom: 139px;
  }
}

@media only screen and (max-device-width: 1366px) and (orientation:landscape) {

  body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  video {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
  body {
    background-image: url(../img/bg.png);
  }

  video {
    display: none;
  }
}


@media (max-width: 321px) {

  .logo-full {
    left: 15px;
    top: 15px;
    width: 115px;
    height: 46px;
  }
  .phrase,
  .soc {
    margin-left: 25px;
    }

  .phrase {
    width: 387px;

    p {
      font-size: 30px;
    }

    .logo-phrase {
      width: 97px;
      height: 39px;
      margin-right: 186px;
      }
  }

  .soc {
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .i1 {
    width: 20px;
    height: 10px;
    top: 62px;
    margin-right: 21px;
  }

  .i2 {
    width: 32px;
    height: 29px;
    margin-bottom: 85px;
    right: 24px;
  }

  .i3 {
    width: 20px;
    height: 27px;
    margin-bottom: 119px;
    left: 19px;
  }
}
