@keyframes slideshow {
  0%   { transform: translateY(0px);    }
  8%   { transform: translateY(0px);    }

  12%  { transform: translateY(-110px); }
  20%  { transform: translateY(-110px); }

  24%  { transform: translateY(-220px); }
  32%  { transform: translateY(-220px); }

  36%  { transform: translateY(-330px); }
  44%  { transform: translateY(-330px); }

  48%  { transform: translateY(-440px); }
  56%  { transform: translateY(-440px); }

  60%  { transform: translateY(-550px); }
  64%  { transform: translateY(-550px); }

  68%  { transform: translateY(-660px); }
  76%  { transform: translateY(-660px); }

  80%  { transform: translateY(-770px); }
  88%  { transform: translateY(-770px); }

  92%  { transform: translateY(-770px); }
  100% { transform: translateY(0); }
}

.phrases-wrapper {
  width:778px;
  height: 104px;
  overflow: hidden;
  position: absolute;
  transition: all 3s ease-in-out;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 330px;

  .phrases-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    width: 778px;
    height: 880px;
    animation: slideshow 26s infinite ease-in-out;
    animation-delay: 1s;
    transition: all 3s ease-in-out;
  }

}
