.IndexContentSection {
  font-size: 15px;
  line-height: 21px;
  color: black;

  div {
    // height: 0%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  figcaption {
    &:hover {
      z-index: 20;

      figure, p {
        opacity: 1;
      }
    }
  }

  figure {
    background-color: black;
    filter: grayscale(100%);
    opacity: .25;
  }

  p {
    margin-top: 15px;
    font-family: 'Proxima Nova Light';
    opacity: 0;
  }

  a {
    display: block;
    margin-top: 5px;
    @include font-thin;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: black;
    }
  }

  section {
    display: flex;
    padding: 0 30px;
  }

  .type_1 {
    justify-content: space-between;
    height: 1050px;

    div {
      &:nth-child(1) {
        align-self: flex-end;
        width: 546px;

        figure {
          height: 387px;
          background-image: url(../img/main/pic-2.png);
        }
      }

      &:nth-child(2) {
        align-self: flex-start;
        width: 430px;

        figure {
          height: 721px;
          background-image: url(../img/main/pic-1.png);
        }
      }
    }
  }

  .type_2 {
    justify-content: center;
    height: 1500px;
    margin-top: 200px;

    div {
      &:nth-child(1) {
        width: 300px;
        margin: 330px -60px 0 0;

        figure {
          height: 504px;
          background-image: url(../img/main/pic-4.png);
        }
      }

      &:nth-child(2) {
        width: 549px;

        figure {
          height: 389px;
          background-image: url(../img/main/pic-3.png);
        }
      }

      &:nth-child(3) {
        align-self: flex-end;
        width: 348px;
        margin-left: -60px;

        figure {
          height: 668px;
          background-image: url(../img/main/pic-5.png);
        }
      }
    }
  }

  .type_3 {
    justify-content: space-between;
    height: 1400px;

    & > div {
      &:nth-child(1) {
        width: 522px;

        figure {
          height: 370px;
          background-image: url(../img/main/pic-6.png);
        }
      }

      &:nth-child(2) {
        display: flex;
        align-self: flex-end;
        height: 930px;
        margin-right: 120px;

        div {
          &:nth-child(1) {
            align-self: flex-end;
            width: 490px;
            margin-left: -90px;

            figure {
              height: 348px;
              background-image: url(../img/main/pic-8.png);
            }
          }

          &:nth-child(2) {
            align-self: flex-start;
            width: 430px;
            margin-left: -60px;

            figure {
              height: 694px;
              background-image: url(../img/main/pic-7.png);
            }
          }
        }
      }
    }
  }

  .type_4 {
    justify-content: space-between;
    height: 1440px;
    margin-top: 200px;
    padding: 0 60px;

    & > div {
      &:nth-child(1) {
        display: flex;
        align-self: flex-end;
        height: 1080px;

        div {
          &:nth-child(1) {
            align-self: flex-start;
            width: 301px;

            figure {
              height: 507px;
              background-image: url(../img/main/pic-10.png);
            }
          }

          &:nth-child(2) {
            align-self: flex-end;
            width: 339px;
            margin-left: -60px;

            figure {
              height: 568px;
              background-image: url(../img/main/pic-11.png);
            }
          }
        }
      }

      &:nth-child(2) {
        width: 469px;

        figure {
          height: 333px;
          background-image: url(../img/main/pic-9.png);
        }
      }
    }
  }

  .type_5 {
    justify-content: flex-end;
    height: 1400px;
    margin-top: 100px;

    div {
      &:nth-child(1) {
        align-self: flex-end;
        width: 730px;
        margin-right: -60px;

        figure {
          height: 600px;
          background-image: url(../img/main/pic-13.png);
        }
      }

      &:nth-child(2) {
        width: 594px;

        figure {
          height: 483px;
          background-image: url(../img/main/pic-12.png);
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .IndexContentSection {
    .type_3 {
      & > div {
        &:nth-child(2) {
          margin-left: calc(100vw - 30px - 30px - 830px - 930px);
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1320px) {
  .IndexContentSection {
    .type_5 {
      div {
        &:nth-child(1) {
          margin-right: calc(100vw - 30px - 30px - 730px - 594px);
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .IndexContentSection {
    font-size: 13px;
    line-height: 17px;

    .type_1 {
      height: 670px;

      div {
        &:nth-child(1) {
          width: 364px;

          figure { height: 257px; }
        }

        &:nth-child(2) {
          width: 285px;

          figure { height: 480px; }
        }
      }
    }

    .type_2 {
      height: 1000px;

      div {
        &:nth-child(1) {
          width: 200px;
          margin: 230px -40px 0 0;

          figure {
            height: 336px;
          }
        }

        &:nth-child(2) {
          width: 366px;

          figure {
            height: 259px;
          }
        }

        &:nth-child(3) {
          width: 232px;
          margin-left: 20vw;

          figure {
            height: 390px;
          }
        }
      }
    }

    .type_3 {
      height: 1000px;

      div {
        &:nth-child(1) {
          width: 348px;

          figure {
            height: 245px;
          }
        }

        &:nth-child(2) {
          height: 650px;

          div {
            &:nth-child(1) {
              width: 238px;

              figure {
                height: 231px;
              }
            }

            &:nth-child(2) {
              width: 288px;
              margin-left: -30px;

              figure {
                height: 462px;
              }
            }
          }
        }
      }
    }

    .type_4 {
      height: 1000px;
      padding: 0 30px;

      div {
        &:nth-child(1) {
          height: 750px;

          div {
            &:nth-child(1) {
              width: 201px;

              figure {
                height: 338px;
              }
            }

            &:nth-child(2) {
              width: 226px;
              margin-left: -30px;

              figure {
                height: 378px;
              }
            }
          }
        }

        &:nth-child(2) {
          width: 313px;

          figure {
            height: 222px;
          }
        }
      }
    }

    .type_5 {
      justify-content: space-between;
      height: 900px;
      padding: 0 30px 0 60px;

      div {
        &:nth-child(1) {
          width: 468px;
          margin-right: auto;

          figure {
            height: 344px;
          }
        }

        &:nth-child(2) {
          width: 396px;

          figure {
            height: 267px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .IndexContentSection {
    figcaption {
      figure, p {
        opacity: 1;
      }
    }

    .type_2 {
      div {
        &:nth-child(1) {
          margin-right: 40px;
        }

        &:nth-child(2) {
          margin-right: -220px;
        }
      }
    }

    .type_3 {
      div {
        &:nth-child(2) {
          div {
            &:nth-child(2) {
              margin-left: 30px;
            }
          }
        }
      }
    }

    .type_4 {
      div {
        &:nth-child(1) {
          div {
            &:nth-child(2) {
              margin-left: 30px;
            }
          }
        }
      }
    }

    .type_5 {
      div {
        &:nth-child(1) {
          margin-right: calc(100vw - 60px - 30px - 468px - 396px);
        }
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .IndexContentSection {
    font-size: 15px;
    line-height: 21px;

    section {
      height: auto !important;
      flex-direction: column;

      div {
        height: auto !important;
        flex-direction: column;
      }
    }

    .type_1 {
      flex-direction: column;

      div {
        &:nth-child(1) {
          align-self: flex-start;
          order: 2;
          width: 546px;
          margin-top: 100px;

          figure {
            height: 387px;
          }
        }

        &:nth-child(2) {
          order: 1;
          width: 430px;
          align-self: flex-end;

          figure {
            height: 721px;
          }
        }
      }
    }

    .type_2 {
      div {
        &:nth-child(1) {
          order: 2;
          width: 300px;
          margin-left: 30px;

          figure {
            height: 504px;
          }
        }

        &:nth-child(2) {
          align-self: flex-end;
          order: 1;
          width: 549px;
          margin: 0;

          figure {
            height: 389px;
          }
        }

        &:nth-child(3) {
          order: 3;
          width: 348px;
          margin-top: 100px;

          figure {
            height: 668px;
          }
        }
      }
    }

    .type_3 {
      margin-top: 100px;

      div {
        &:nth-child(1) {
          width: 522px;

          figure {
            height: 370px;
          }
        }

        &:nth-child(2) {
          width: 100%;
          margin-left: auto;

          div {
            &:nth-child(1) {
              align-self: flex-start;
              order: 2;
              width: 491px;
              margin-top: 150px;
              margin-left: 30px;

              figure {
                height: 348px;
              }
            }

            &:nth-child(2) {
              align-self: flex-end;
              order: 1;
              width: 431px;
              margin-top: 150px;

              figure {
                height: 694px;
              }
            }
          }
        }
      }
    }

    .type_4 {
      div {
        &:nth-child(1) {
          justify-content: space-between;
          order: 2;
          width: 100%;

          div {
            margin-top: 150px;

            &:nth-child(1) {
              order: 1;
              width: 301px;

              figure {
                height: 507px;
              }
            }

            &:nth-child(2) {
              order: 2;
              width: 339px;

              figure {
                height: 568px;
              }
            }
          }
        }

        &:nth-child(2) {
          align-self: flex-end;
          order: 1;
          width: 469px;

          figure {
            height: 333px;
          }
        }
      }
    }

    .type_5 {
      padding: 0 30px;

      div {
        &:nth-child(1) {
          align-self: flex-start;
          order: 2;
          width: 594px;
          margin: 150px 0 0 0;

          figure {
            height: 483px;
          }
        }

        &:nth-child(2) {
          align-self: flex-end;
          order: 1;
          width: 640px;
          margin: 150px 0 0 0;

          figure {
            height: 455px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .IndexContentSection {
    font-size: 13px;
    line-height: 17px;

    .type_1 {
      div {
        &:nth-child(1) {
          width: 263px;

          figure {
            height: 186px;
          }
        }

        &:nth-child(2) {
          width: 260px;

          figure {
            height: 436px;
          }
        }
      }
    }

    .type_2 {
      div {
        &:nth-child(1) {
          width: 260px;

          figure {
            height: 436px;
          }
        }

        &:nth-child(2) {
          width: 263px;

          figure {
            height: 186px;
          }
        }

        &:nth-child(3) {
          width: 260px;

          figure {
            height: 436px;
          }
        }
      }
    }

    .type_3 {
      div {
        &:nth-child(1) {
          width: 263px;

          figure {
            height: 186px;
          }
        }

        &:nth-child(2) {
          div {
            &:nth-child(1) {
              width: 263px;

              figure {
                height: 186px;
              }
            }

            &:nth-child(2) {
              width: 260px;

              figure {
                height: 436px;
              }
            }
          }
        }
      }
    }

    .type_4 {
      div {
        &:nth-child(1) {
          div {
            &:nth-child(1) {
              width: 260px;

              figure {
                height: 436px;
              }
            }

            &:nth-child(2) {
              width: 260px;
            
              figure {
                height: 436px;
              }
            }
          }
        }

        &:nth-child(2) {
          width: 263px;

          figure {
            height: 186px;
          }
        }
      }
    }

    .type_5 {
      div {
        &:nth-child(1) {
          width: 263px;

          figure {
            height: 186px;
          }
        }

        &:nth-child(2) {
          width: 263px;

          figure {
            height: 186px;
          }
        }
      }
    }
  }
}
