.IndexContentSection {
  // padding-top: 1056px;
  display: block;
  height: 7403px;
  position: relative;

  div {
    position: absolute;
    display: inline-block;
    font-size: 15px;
    line-height: 21px;
    color: black;

    &:hover {
      z-index: 20;

      figure, p {
        opacity: 1;
      }
    }
  }

  figure {
    // width: 430px;
    // height: 50px;
    opacity: .25;
    background-size: cover;
    background-color: black;
    filter: grayscale(100%);
  }

  p {
    margin-top: 15px;
    font-family: 'Proxima Nova Light';
    opacity: 0;
  }

  a {
    display: block;
    margin-top: 5px;
    @include font-thin;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: black;
    }
  }

  .type_1 {
    display: flex;
    justify-content: space-between;
    height: 1050px;
    padding: 0 30px;

    div {
      position: static;

      &:nth-child(1) {
        width: 546px;
        align-self: flex-end;

        figure {
          height: 387px;
          background-image: url(../img/main/pic-2.png);
        }
      }

      &:nth-child(2) {
        align-self: flex-start;
        width: 430px;

        figure {
          height: 721px;
          background-image: url(../img/main/pic-1.png);
        }
      }
    }
  }

  .type_2 {
    display: flex;
    justify-content: center;
    height: 1500px;
    margin-top: 200px;

    div {
      position: static;

      &:nth-child(1) {
        width: 300px;
        margin: 330px -60px 0 0;

        figure {
          height: 504px;
          background-image: url(../img/main/pic-4.png);
        }
      }

      &:nth-child(2) {
        width: 549px;

        figure {
          height: 389px;
          background-image: url(../img/main/pic-3.png);
        }
      }

      &:nth-child(3) {
        align-self: flex-end;
        width: 348px;
        margin-left: -60px;

        figure {
          height: 668px;
          background-image: url(../img/main/pic-5.png);
        }
      }
    }
  }






  .type_3 {
    div {
      &:nth-child(1) {
        top: 2744px;

        figure {
          width: 522px;
          height: 370px;
          background-image: url(../img/main/pic-6.png);
        }
      }

      &:nth-child(2) {
        top: 3197px;
        right: 150px;

        figure {
          width: 431px;
          height: 694px;
          background-image: url(../img/main/pic-7.png);
        }
      }

      &:nth-child(3) {
        top: 3730px;
        right: 521px;

        figure {
          width: 491px;
          height: 348px;
          background-image: url(../img/main/pic-8.png);
        }
      }
    }
  }

  .type_4 {
    div {
      &:nth-child(1) {
        top: 4357px;
        right: 76px;

        figure {
          width: 469px;
          height: 333px;
          background-image: url(../img/main/pic-9.png);
        }
      }

      &:nth-child(2) {
        top: 4722px;
        left: 54px;

        figure {
          width: 301px;
          height: 507px;
          background-image: url(../img/main/pic-10.png);
        }
      }

      &:nth-child(3) {
        top: 5182px;
        left: 303px;

        figure {
          width: 339px;
          height: 568px;
          background-image: url(../img/main/pic-11.png);
        }
      }
    }
  }

  .type_5 {
    div {
      &:nth-child(1) {
        top: 5880px;
        right: 30px;

        figure {
          width: 594px;
          height: 483px;
          background-image: url(../img/main/pic-12.png);
        }
      }

      &:nth-child(2) {
        top: 6614px;
        left: 153px;

        figure {
          width: 729px;
          height: 600px;
          background-image: url(../img/main/pic-13.png);
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .IndexContentSection {
    height: 5175px;

    div {
      font-size: 13px;
      line-height: 17px;
    }

    .type_1 {
      height: 670px;

      div {
        &:nth-child(1) {
          width: 364px;

          figure { height: 257px; }
        }

        &:nth-child(2) {
          width: 285px;

          figure { height: 480px; }
        }
      }
    }

    .type_2 {
      height: 1000px;

      div {
        &:nth-child(1) {
          width: 200px;
          margin: 230px -40px 0 0;

          figure {
            height: 336px;
          }
        }

        &:nth-child(2) {
          width: 366px;

          figure {
            height: 259px;
          }
        }

        &:nth-child(3) {
          width: 232px;
          margin-left: 20vw;

          figure {
            height: 390px;
          }
        }
      }
    }





    .type_3 {
      div {
        &:nth-child(1) {
          top: 1948px;

          figure {
            width: 348px;
            height: 245px;
          }
        }

        &:nth-child(2) {
          top: 2346px;
          right: 50px;

          figure {
            width: 288px;
            height: 462px;
          }
        }

        &:nth-child(3) {
          top: 2700px;
          right: 299px;

          figure {
            width: 238px;
            height: 231px;
          }
        }
      }
    }

    .type_4 {
      div {
        &:nth-child(1) {
          top: 3145px;
          right: 25px;

          figure {
            width: 313px;
            height: 222px;
          }
        }

        &:nth-child(2) {
          top: 3417px;
          left: 18px;

          figure {
            width: 201px;
            height: 338px;
          }
        }

        &:nth-child(3) {
          top: 3724px;
          left: 184px;

          figure {
            width: 226px;
            height: 378px;
          }
        }
      }
    }

    .type_5 {
      div {
        &:nth-child(1) {
          top: 4200px;
          right: 10px;

          figure {
            width: 396px;
            height: 267px;
          }
        }

        &:nth-child(2) {
          top: 4763px;
          left: 51px;

          figure {
            width: 468px;
            height: 344px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .IndexContentSection {
    div {
      figure, p {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .IndexContentSection {
    height: 9373px;

    div {
      font-size: 15px;
      line-height: 21px;
    }

    .type_1 {
      height: auto;
      flex-direction: column;

      div {
        &:nth-child(1) {
          align-self: flex-start;
          order: 2;
          width: 546px;
          margin-top: 100px;

          figure {
            height: 387px;
          }
        }

        &:nth-child(2) {
          order: 1;
          width: 430px;
          align-self: flex-end;

          figure {
            height: 721px;
          }
        }
      }
    }



    .type_2 {
      div {
        &:nth-child(1) {
          top: 1648px;
          right: 56px;

          figure {
            width: 549px;
            height: 389px;
          }
        }

        &:nth-child(2) {
          top: 2273px;
          left: 56px;

          figure {
            width: 300px;
            height: 504px;
          }
        }

        &:nth-child(3) {
          top: 3022px;
          right: 60px;

          figure {
            width: 348px;
            height: 668px;
          }
        }
      }
    }

    .type_3 {
      div {
        &:nth-child(1) {
          top: 3852px;

          figure {
            width: 522px;
            height: 370px;
          }
        }

        &:nth-child(2) {
          top: 4469px;
          right: 56px;

          figure {
            width: 431px;
            height: 694px;
          }
        }

        &:nth-child(3) {
          top: 5408px;
          left: 56px;

          figure {
            width: 491px;
            height: 348px;
          }
        }
      }
    }

    .type_4 {
      div {
        &:nth-child(1) {
          top: 6001px;
          right: 25px;

          figure {
            width: 469px;
            height: 333px;
          }
        }

        &:nth-child(2) {
          top: 6579px;
          left: 18px;

          figure {
            width: 301px;
            height: 507px;
          }
        }

        &:nth-child(3) {
          top: 7323px;
          right: 18px;
          left: auto;

          figure {
            width: 339px;
            height: 568px;
          }
        }
      }
    }

    .type_5 {
      div {
        &:nth-child(1) {
          top: 8136px;
          right: 10px;

          figure {
            width: 594px;
            height: 483px;
          }
        }

        &:nth-child(2) {
          top: 8781px;
          left: 51px;

          figure {
            width: 655px;
            height: 465px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 660px) {
  .IndexContentSection {
    height: 6004px;

    div {
      font-size: 13px;
      line-height: 17px;
    }

    .type_1 {
      div {
        &:nth-child(1) {
          width: 263px;

          figure {
            height: 186px;
          }
        }

        &:nth-child(2) {
          width: 260px;

          figure {
            height: 436px;
          }
        }
      }
    }


    

    .type_2 {
      div {
        &:nth-child(1) {
          top: 984px;
          right: 37px;
          left: auto;

          figure {
            width: 263px;
            height: 186px;
          }
        }

        &:nth-child(2) {
          top: 1330px;
          right: 25px;
          left: auto;

          figure {
            width: 260px;
            height: 436px;
          }
        }

        &:nth-child(3) {
          top: 1928px;
          right: 40px;

          figure {
            width: 260px;
            height: 436px;
          }
        }
      }
    }

    .type_3 {
      div {
        &:nth-child(1) {
          top: 2529px;

          figure {
            width: 263px;
            height: 186px;
          }
        }

        &:nth-child(2) {
          top: 2898px;
          right: 36px;

          figure {
            width: 260px;
            height: 436px;
          }
        }

        &:nth-child(3) {
          top: 3501px;
          right: 19px;
          left: auto;

          figure {
            width: 263px;
            height: 186px;
          }
        }
      }
    }

    .type_4 {
      div {
        &:nth-child(1) {
          top: 3847px;
          right: 17px;

          figure {
            width: 263px;
            height: 186px;
          }
        }

        &:nth-child(2) {
          top: 4193px;
          left: 12px;

          figure {
            width: 260px;
            height: 436px;
          }
        }

        &:nth-child(3) {
          top: 4796px;
          right: 12px;
          left: auto;

          figure {
            width: 260px;
            height: 436px;
          }
        }
      }
    }

    .type_5 {
      div {
        &:nth-child(1) {
          top: 5399px;
          right: 17px;

          figure {
            width: 263px;
            height: 186px;
          }
        }

        &:nth-child(2) {
          top: 5754px;
          left: 34px;

          figure {
            width: 263px;
            height: 186px;
          }
        }
      }
    }
  }
}
