.SecondaryContentLead {
  img, video {
    display: block;
    width: 100%;
    margin-top: 70px;
  }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 990px) {}
@media only screen and (max-width: 660px) {}
