.Tagline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .wrapper {
    position: relative;
    width: $largeContainerWidth;
    height: $largeContainerHeight;
    margin-top: -80px;
    overflow: hidden;
    // z-index: 99;

    .container {
      .line {
        position: relative;
        display: flex;
        transition: all .3s ease-in-out;
        height: $largeContainerHeight;
        line-height: 100px;
        font-family: 'Basis Off White';
        font-size: 85px;
        white-space: nowrap;

        &.step0 { transform: translateY(0); transition: all 3s ease-in-out !important; }
        &.step1 { transform: translateY(-100%); }
        &.step2 { transform: translateY(-200%); }
        &.step3 { transform: translateY(-300%); }
        &.step4 { transform: translateY(-400%); }
        &.step5 { transform: translateY(-500%); }
        &.step6 { transform: translateY(-600%); }
        &.step7 { transform: translateY(-700%); }
        &.step8 { transform: translateY(0); transition: all 3s ease-in-out !important; }

        .logo {
          position: relative;
          top: 5px;
          width: 263px;
          height: 106px;
          margin-left: 30px;
          background-image: url(../img/logo_white.svg);
          background-size: cover;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .Tagline {
    .wrapper {
      left: 53px;
      width: 797px;
      margin-top: -190px;
    }
  }
}

@media (max-width: 1024px) {
  .Tagline {
    .wrapper {
      width: 660px;

      .container {
        .line {
          font-size: 65px;

          .logo {
            top: 14px;
            width: 210px;
            height: 84px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .Tagline {
    .wrapper {
      left: 34px;
      width: 450px;
      margin-top: -190px;

      .container {
        .line {
          font-size: 25px;

          .logo {
            top: 40px;
            width: 71px;
            height: 28px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Tagline {
    .wrapper {
      left: 34px;
      width: 280px;
      margin-top: -70px;

      .container {
        .line {
          font-size: 25px;

          .logo {
            top: 40px;
            width: 71px;
            height: 28px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .Tagline {
    .wrapper {
      width: $smallContainerWidth;

      .container {
        .line {
          font-size: 65px;

          .logo {
            top: 14px;
            width: 210px;
            height: 84px;
          }
        }
      }
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .Tagline {
    .wrapper {
      .container {
        .line {
          font-size: 26px;
          line-height: 60px;

          .logo {
            top: 12px;
            width: 97px;
            height: 39px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .Tagline {
    .wrapper {
      width: $phoneContainerWidth;
      height: $phoneContainerHeight;

      .container {
        left: 34px;

        .line {
          height: $phoneContainerHeight;
          font-size: 26px;
          line-height: 60px;

          .logo {
            top: 12px;
            width: 97px;
            height: 39px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
