body.index {
  .FooterScreen {
    height: 100vh;
  }
}

body.initial {
  .MenuBar {
    color: white;

    &:hover {
      background: none;
    }

    a {
      color: white;
    }

    .logo {
      background-image: url(../img/logo_white.svg);
    }
  }
}

body:not(.initial) {
  .MenuBar {
    color: black;

    a {
      color: black;
    }
  }

  .SplashScreen {
    opacity: .25;
    transform: scale(0.8);

    .Tagline, .SocialBar {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 1140px) {
  body:not(.initial) {
    .SplashScreen {
      transform: scale(0.7);
    }
  }
}

@media only screen and (max-width: 1024px) {
  body.initial, body:not(.initial) {
    .MenuBar {
      color: black;

      &:hover {
        background: rgba(255, 255, 255, .8);
      }

      a {
        color: black;
      }

      .logo {
        background-image: url(../img/logo_black.svg);
      }
    }
  }

  body:not(.initial) {
    .SplashScreen {
      transform: scale(0.6);
    }
  }
}

@media only screen and (max-width: 830px) {
  body:not(.initial) {
    .SplashScreen {
      transform: scale(0.45);
    }
  }
}

@media only screen and (max-width: 660px) {
  body:not(.initial) {
    .SplashScreen {
      transform: scale(0.25);
    }
  }
}
