body.secondary {
  .FooterScreen {
    margin-top: 50px;

    .SocialBar {
      position: relative;
      width: 100%;

      padding-left: 18px;
    }
  }
}


@media only screen and (max-width: 1170px) {
  body.secondary {
    .FooterScreen {
      .SocialBar {
        padding-left: 55px;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  body.secondary {
    .FooterScreen {
      .SocialBar {
        position: relative;
        width: 100%;

        padding-left: 102px;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  body.secondary {
    .FooterScreen {
      .SocialBar {
        padding-left: 18px;
      }
    }
  }
}
